### Auth Service
LOCAL_FIREBASE_JSON_PATH=

### MySQL Service
ROOT_PASSWORD=3laElsekaApplication2025@

### Profile Service
PROFILE_DB_USER=profile
PROFILE_DB_PASSWORD=3laElsekaApplication2025@profile

SPRING_DATASOURCE_USERNAME=admin_carpooling_app
SPRING_DATASOURCE_PASSWORD=Fr75$gj2@o9)
