### Auth Service
LOCAL_FIREBASE_JSON_PATH=

### MySQL Service
ROOT_PASSWORD=3laElsekaApplication2025@

### Profile Service
PROFILE_DB_USER=profile
PROFILE_DB_PASSWORD=3laElsekaApplication2025@profile
